/******************* INICIO COMPONENTES DO TOPO ***************/
.bu-toggle{
	float: right;
	margin-top: 15px;
	margin-right: 15px;
	color: #34495D;
}


/******************* INICIO BOTOES ***************/
.ui-widget  .bu-botao-azul{
	background-color: #286090  !important;
	color: white;
	max-width: 90px !important;
}

.ui-widget  .bu-botao-vermelho{background-color: #d9534f  !important;		color: white;}

.ui-widget  .bu-botao-laranja{background-color: #f0ad4e  !important;		color: white;}

.ui-widget  .bu-botao-verde{background-color: #4CAF50  !important;			color: white;}



/******************* INICIO MENSAGENS ***************/

.ui-growl-title {font-size: 12px ;	text-align: center;	}

.ui-growl-message {font-size: 12px; letter-spacing: -1px;}

.ui-dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
