
.ui-dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.comBorda{
	border-style: dotted solid;
	border: 3px solid red;
}

* {
	margin: 0;
	padding: 0;
}

code {
	background: #FFF;
	border: 1px solid #EEE;
	border-left: 6px solid #CCC;
	color: #666;
	display: block;
	font: normal 1em Tahoma,sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}



/* misc */
.clearer {clear: both; font-size: 0;}
.left {float: left;}
.right {float: right;}



/******************* Begin Botões ***************/
.ui-widget  .botaoAzul{
	background-color: #286090  !important;
	color: white ;
	
}

.ui-widget  .botaoVermelho{
	background-color: #d9534f  !important;
	color: white ;
	
}

.ui-widget  .botaoLaranja{
	background-color: #f0ad4e  !important;
	color: white ;
	
}

.ui-widget  .botaoVerde{
	background-color: #4CAF50  !important;
	color: white ;
	font-size: 13px !important;
}


/******************* Begin Mensagens ***************/
.msgInfo,.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
	font-size: 12px !important;
}

.ui-growl-title {
    font-size: 12px ;
    text-align: center;
}
.ui-growl-message {
    font-size: 12px;
    letter-spacing: -1px;
}


/******************* Begin Estrutura ***************/
.inner-container {
	border: 1px solid #D7D7D2;
	margin: 0 auto;
	width: 99%;
}

.main {
	border-top: 2px solid #FFF;	
	padding: 8px 0 0 0;
}


/******************* Begin footer ***************/
.footer {
	color: #F7F7F2;
	margin-top: 15px;
	padding: 10px 12px;
}
.footer a {
	color: #F7F7F2;
	text-decoration: none;
}
.footer a:hover {color: #FFC;}

.ui-widget {
    font-size: 12px !important;
}

label {
    font-size: 12px !important;
}